
    <!-- Start Footer -->
    <section class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <h3 class="dept-name text-uppercase">Electronics</h3>
            <ul class="list-unstyled">
              <li><a href="#">Mobiles</a></li>
              <li><a href="#">Tablets</a></li>
              <li><a href="#">Laptops</a></li>
              <li><a href="#">Home Appliances</a></li>
              <li><a href="#">Camera, Photo & Video</a></li>
              <li><a href="#">Television</a></li>
              <li><a href="#">Headphones</a></li>
              <li><a href="#">Video Games</a></li>
  
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <h3 class="dept-name text-uppercase">Fashion</h3>
            <ul class="list-unstyled">
              <li><a href="#">Women's Fashion</a></li>
              <li><a href="#">Men's Fashion</a></li>
              <li><a href="#">Girls's Fashoin</a></li>
              <li><a href="#">Boy's Fashion</a></li>
              <li><a href="#">Men's Watches</a></li>
              <li><a href="#">Women's Watches</a></li>
              <li><a href="#">Eyewear</a></li>
              <li><a href="#">Bages & Luggage</a></li>
  
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <h3 class="dept-name text-uppercase">home and kitchen</h3>
            <ul class="list-unstyled">
              <li><a href="#">Kitchen & Dining</a></li>
              <li><a href="#">Bedding</a></li>
              <li><a href="#">Bath</a></li>
              <li><a href="#">Home Decor</a></li>
              <li><a href="#">Home Applicances</a></li>
              <li><a href="#">Tools & Home Improvement</a></li>
              <li><a href="#">Patio, Lawn & Garden</a></li>
              <li><a href="#">Home, Storage & Organization</a></li>
  
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <h3 class="dept-name text-uppercase">Beauty</h3>
            <ul class="list-unstyled">
              <li><a href="#">Women's Fragrance</a></li>
              <li><a href="#">Men's Fragrance</a></li>
              <li><a href="#">Make-Up</a></li>
              <li><a href="#">Haircare</a></li>
              <li><a href="#">Skincare</a></li>
              <li><a href="#">Personal Care</a></li>
              <li><a href="#">Tools & Accessories</a></li>
  
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <h3 class="dept-name text-uppercase">Kids, baby, Toys</h3>
            <ul class="list-unstyled">
              <li><a href="#">Strollers, Prams & Accessories</a></li>
              <li><a href="#">Car Seats</a></li>
              <li><a href="#">Baby Clothing</a></li>
              <li><a href="#">Feeding</a></li>
              <li><a href="#">Bathing & Skincare</a></li>
              <li><a href="#">Diapering</a></li>
              <li><a href="#">Baby & Toddler Toys</a></li>
              <li><a href="#">Toys & Games</a></li>
  
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <h3 class="dept-name text-uppercase">Top Brands</h3>
            <ul class="list-unstyled">
              <li><a href="#">Apple</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Nike</a></li>
              <li><a href="#">Ray-Ban</a></li>
              <li><a href="#">Tefal</a></li>
              <li><a href="#">L'Oreal Paris</a></li>
              <li><a href="#">Chicco</a></li>
              <li><a href="#">Tornado</a></li>
  
            </ul>
          </div>
        </div>
  
      </div>
      
    </section>
    <div class="copy py-2 text-dark-50 bg-light text-center">
      <div class="container">
        <p>2022 &copy; Magico,All Rights Resived</p>
  
      </div>
   </div>
    <!-- End Footer -->
  
   