<main id="main" class="p-md-5 py-5">
    
    <div class="container">
         <!-- Start breadcrumb -->
     <section class="breadcrumb bg-dark">
            <div class="d-flex align-items-center justify-content-start  rounded my-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item d-flex align-items-center justify-content-between"><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                        <i class="fa-solid fa-gauge-min fa-lg pe-2"></i> <span class="fw-bold">dashboard</span></a> 
                    </li>
                    <!-- {{selectedcategoty}} -->
                    <li class="breadcrumb-item active fw-bold">Orders</li>
                    
                    </ol>
                </nav>
             </div>
        </section>
        
        <!-- end breadcrumb -->

        <owl-carousel-o [options]="customOptions" class="order-status-carousel d-flex justify-content-center">
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded " (click)="changeStatus('WaitingForReview')">
                   <div class="status-icon-count d-flex justify-content-between align-items-center">
                    <span class="icon"><i class="fa-regular fa-clock"></i></span>
                   
                    <span class="count">{{waitingForReview}}</span>
                   </div>
                   <div class="status-type">
                    Waiting For Review
                   </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded "  (click)="changeStatus('beingProcessed')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                     <span class="icon"><i class="fa-regular fa-gift"></i></span>
                     <span class="count">{{beingProcessed}}</span>
                    </div>
                    <div class="status-type">
                     Being processed
                    </div>
                 </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded " (click)="changeStatus('prepared')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                     <span class="icon"><i class="fa-solid fa-check-double"></i></span>
                    
                     <span class="count">{{prepared}}</span>
                    </div>
                    <div class="status-type">
                     Prepared
                    </div>
                 </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded "(click)="changeStatus('outForDelivery')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                     <span class="icon"><i class="fa-regular fa-truck-bolt"></i></span>
                     <span class="count">{{outForDelivery}}</span>
                    </div>
                    <div class="status-type">
                        Out For Delivery
                    </div>
                 </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded " (click)="changeStatus('delivered')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                     <span class="icon"><i class="fa-solid fa-person-carry-box"></i></span>
                     <span class="count">{{delivered}}</span>
                    </div>
                   
                   
                    <div class="status-type">
                     Delivered
                    </div>
                 </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded " (click)="changeStatus('cancelled')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                        <span class="icon"><i class="fa-regular fa-xmark-large"></i></span>
                        <span class="count">{{cancelled}}</span>
                    </div>
                    <div class="status-type">
                        Cancelled
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded " (click)="changeStatus('beingRetrived')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                        <span class="icon"><i class="fa-solid fa-arrows-rotate"></i></span>
                        <span class="count">{{beingRetrived}}</span>
                    </div>
                    <div class="status-type">
                        Being Retrived
                    </div>
                  
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="order-status p-3  rounded " (click)="changeStatus('retrived')">
                    <div class="status-icon-count d-flex justify-content-between align-items-center">
                        <span class="icon"><i class=" fa-solid fa-clock-rotate-left"></i></span>
                        <span class="count">{{retrived}}</span>
                    </div>
                    <div class="status-type">
                        Retrived
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>  

        <div class="order  my-4 rounded bg-white border">
            <div class="order-header p-3 border-bottom">
                <div class="row">
                    <div class="col-6">
                        <h2 class="fw-bold">orders <small class="fw-normal" style="font-size:1rem;">({{copyOrders.length}} order)</small></h2>
    
                    </div>
                    <div class="col-6 d-md-flex align-items-center justify-content-between">
                        <div class="search-box d-flex align-items-center p-2 border rounded">
                            <i class="fa-regular fa-search fa-1x pe-2"></i>
                            <input id="search" placeholder="search" type="text" name="search" (keyup)="search($event)">
                
                        </div>
                        <div class="btn-group px-3">
                            <span type="button" class="btn btn-primary  outline-none p-2"><i class="fa-solid fa-edit pe-2"></i> Edit</span>
                            <button type="button" class="btn btn-primary  outline-none dropdown-toggle dropdown-toggle-split p-2" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                            <li (click)="showFormToSelectStatus()" data-bs-toggle="modal" data-bs-target="#changeStatus"><a class="dropdown-item" ><i class="fa-regular fa-bag-shopping"></i><span class="ps-2">Change Order Status</span></a>
                                
                            </li>
                            <li (click)="showConfirmAlert()"><a class="dropdown-item" ><i class="fa-light fa-trash-can"></i><span class="ps-2">Delete Order</span></a></li>
                           
                            </ul>
                        </div>
    
                    </div>
                </div>

            </div>
            <div class="order-list">
                <div class="d-flex align-items-center border-bottom fw-bold" *ngFor="let order of copyOrders | orderBy: key: reverse | paginate : {
                    itemsPerPage: 20,
                    currentPage: page,
                    totalItems: copyOrders.length
                  };" [id]="order.id" >
                  <div class="order-customer"  >
                        <div class="customer d-flex align-items-center p-3">
                            <div class="checkbox px-2">
                                <input  class=" form-check-input"type="checkbox" [value]="order.id" (change)="selectOrder($event)">
                            </div>
                            <div class="customer-img px-2">
                                    <img src="../../../../assets/images/person.jpg" style="width:50px;height:50px;">
                            </div>
                            <div class="order-info px-2" (click)="OrderDetails(order.id)">
                                <div class="customer-name fw-bold">
                                    {{order.firstname+" "+order.lastname}}

                                </div>
                                <div class="shipping-data ">
                                    <span class="pe-2"><i class="fa-solid fa-hashtag "></i>{{order.id}}</span>
                                    <span class="pe-2"><i class="fa-regular fa-location-dot pe-1"></i>{{ order.country }},{{order.city}}</span>
                                    <span [ngSwitch]="order.orderStatus">
                                        <span style="padding: 3px 10px;background: #ffc8467d;border-radius: 11px; color: #cda215;" *ngSwitchCase="'WaitingForReview'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;border-radius: 11px; background: #a7beff7d;color: #050142;" *ngSwitchCase="'beingProcessed'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;border-radius: 11px; background: #a7beff7d;color: #050142;" *ngSwitchCase="'prepared'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;background: #96ec987d; border-radius: 11px;color: #4a9706;" *ngSwitchCase="'outForDelivery'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;background: #96ec987d; border-radius: 11px;color: #4a9706;" *ngSwitchCase="'delivered'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;background: #ff746c7d;border-radius: 11px;color: #c91d1d;" *ngSwitchCase="'cancelled'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;background: #74fff47d;border-radius: 11px; color: #12acb3;" *ngSwitchCase="'beingRetrived'">
                                            {{order.orderStatus}}
                                        </span>
                                        <span style="padding: 3px 10px;background: #74fff47d;border-radius: 11px; color: #12acb3;" *ngSwitchCase="'retrived'">
                                            {{order.orderStatus}}
                                        </span>
                                    </span>                               
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-total px-3">{{order.totalPrice |number : '1.1-1'}} EGP</div>

                    <div class="order-time px-3"> 
                          <!-- Calculate Time  -->
                          <span *ngIf="currentDateTime-order.createdAt<=59999">{{(currentDateTime-order.createdAt)/(1000) |number:'1.0-1'| slice:0:2 |number:'1.0-0'}} second ago</span>
                          <span *ngIf="(currentDateTime-order.createdAt>59999 && currentDateTime-order.createdAt<=3599999)"> {{(currentDateTime-order.createdAt)/(1000*60) |number:'1.0-1'| slice:0:2 |number:'1.0-0'}} minutes ago</span>
                          <span *ngIf="currentDateTime-order.createdAt>3599999 && currentDateTime-order.createdAt<=86399999"> {{(currentDateTime-order.createdAt)/(1000*60*60) |number:'1.0-1'| slice:0:2 |number:'1.0-0'}} hours ago</span>
                          <span *ngIf="currentDateTime-order.createdAt>86399999 && currentDateTime-order.createdAt<=2591999999"> {{(currentDateTime-order.createdAt)/(1000*60*60*24) |number:'1.0-1' | slice:0:2 |number:'1.0-0'}} day ago</span>
                          <span *ngIf="currentDateTime-order.createdAt>2591999999 && currentDateTime-order.createdAt<=31535999999"> {{(currentDateTime-order.createdAt)/(1000*60*60*24*365) |number:'1.0-1' | slice:0:2 |number:'1.0-0'}} month ago</span>
                          <span *ngIf="currentDateTime-order.createdAt>31535999999 "> {{(currentDateTime-order.createdAt)/(1000*60*60*24*365) |number:'1.0-1' | slice:0:100 |number:'1.0-0'}} year ago</span>
  
                    </div>
            
           
                 
                </div>
                <div class="text-center  p-5" *ngIf="copyOrders.length==0">
                    NO Orders Found
                    
                </div>
                
                       
               <pagination-controls  previousLabel="Prev" nextLabel="Next"  *ngIf="copyOrders.length>20" (pageChange)="page=($event)" class="text-end py-2"></pagination-controls>
            </div>
              <!-- Modal -->
          <div *ngIf="selectedOrder.length>0" class="modal fade" id="changeStatus" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header">
                    
                
                <h5 class="modal-title fw-bold" id="categoryModalLabel"  >Change Status</h5>
                <!-- <button type="button" class="btn-close"id="close" data-bs-dismiss="modal" aria-label="Close" (click)="reset(); "></button> -->
                <button type="button" class="btn-close"id="close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
                </div>

                <div class="modal-body border-none">
                    <form [formGroup]="changeStatusForm">
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example" formControlName="status">
                                <option selected disabled>Select Status</option>
                                <option value="WaitingForReview">WaitingForReview</option>
                                <option value="beingProcessed">beingProcessed</option>
                                <option value="prepared">prepared</option>
                                <option value="outForDelivery">outForDelivery</option>
                                <option value="delivered">delivered</option>
                                <option value="cancelled">cancelled</option>
                                <option value="beingRetrived">beingRetrived</option>
                                <option value="retrived">retrived</option>
                              </select> 
                        </div>
                        
                        <button (click)="changeOrderStatus()" type="button" class="btn btn-primary" >Confirm</button>
                        
                      </form>
                </div>
                
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close"
                        (click)="reset();">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateafterEditetaked()"
                        *ngIf="showUpdateBtn">Update Product</button>
    
                </div> -->
            </div>
            </div>
        </div>

            <!-- <div class="table-responsive">
                <table class="react_table table  table-hover scroll text">
                     <thead>
                       <tr>
                        <th (click)="sort('id')">ID &nbsp;<i class="fa-solid fa-sort"></i></th>
                        <th (click)="sort('id')">Date &nbsp;<i class="fa-solid fa-sort"></i></th>
                        <th (click)="sort('firstname')">Customer Name &nbsp;<i class="fa-solid fa-sort"></i></th>
                        <th (click)="sort('totalPrice')">Total &nbsp;<i class="fa-solid fa-sort"></i></th>
                        <th (click)="sort('id')">Payment Status &nbsp;<i class="fa-solid fa-sort"></i></th>
                        <th (click)="sort('id')">Action &nbsp;<i class="fa-solid fa-sort"></i></th>
                        
                       </tr>
                    </thead> 
                    <tbody>
                        <tr *ngFor="let order of copyOrders | orderBy: key: reverse | paginate : {
                            itemsPerPage: 5,
                            currentPage: page,
                            totalItems: copyOrders.length
                          };">
                          
                            <td class="order-customer ">
                                <div class="customer d-flex align-items-center p-3">
                                    <div class="checkbox">
                                        <input  class=" form-control-checkbox"type="checkbox">
                                    </div>
                                    <div class="customer-img">
                                            ee
                                    </div>
                                    <div class="order-info">
                                        <div class="customer-name">
                                            ddd

                                        </div>
                                        <div class="shipping-data">
                                            d
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="order-total">{{order.totalPrice}} </td>

                            <td class="order-time"> since 3 minutes ago</td>
                        </tr>
                        <tr *ngIf="copyOrders.length==0">
                            <td class="text-center" colspan="6">NO Orders Found</td>
                            
                        </tr>
                    </tbody>
                      
                </table>
                <pagination-controls  (pageChange)="page=($event)" class="text-end py-2"></pagination-controls>
            </div> -->


        </div>
    </div>
</main>