.active-super-link{
    background-color: #5c15e0;
    color: #FFF !important;
    transition: all .4s ease-in-out;
   }
.active-sub-link{
    color:red;
    background-color: red;
}
.sidebar{
    z-index: 1;
    .sidebar-nav{
        
        .nav-item{
             
           .nav-link{
            padding: 10px;
            margin-bottom: 11px;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight:600;
            border-radius: 3px;
            transition: all .4s ease-in-out;
            color:#606060;
            &:hover{
                background-color: #5c15e0;
                color: #FFF !important;
            
            }
           
             
           }
            a{
                text-decoration: none;
            }
        }
        .nav-item.custom{
            padding: 10px;
            margin-bottom: 11px;
            align-items: center;
            font-size: 1.4rem;        }
    }    
}
@media print {
    .sidebar{
        display: none;
    }
}