<aside class="sidebar" id="sidebar">
    <ul class="sidebar-nav  list-unstyled p-3">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" [routerLink]="['/dashboard']" routerLinkActive="active-super-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-regular fa-grid"></i><span class="ps-2">dashboard</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" [routerLink]="['/dashboard/productslist']" routerLinkActive="active-super-link" >
                <i class="fa-regular fa-bag-shopping"></i><span class="ps-2">Products</span></a>
        </li>
        <!-- <li class="nav-item custom collapsed" data-bs-toggle="collapse" data-bs-target="#produt-navbar">
                 <i class="fa-solid fa-grid"></i><span class="ps-2">Products</span>
                <ul id="produt-navbar" class="nav-content collapsed ">
                    <li>
                        <a [routerLink]="['/dashboard/addProduct']" routerLinkActive="active-sub-link"><span>Products</span></a> 
                    </li>
                    <li>
                        <a [routerLink]="['/dashboard/productslist']" routerLinkActive="active-sub-link"> <span>Products List</span></a> 
                    </li>
                </ul>
        </li> -->
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center "[routerLink]="['/dashboard/categories']" routerLinkActive="active-super-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-regular fa-layer-group"></i><span class="ps-2">Categoreis</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center "[routerLink]="['/dashboard/brands']" routerLinkActive="active-super-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-award"></i><span class="ps-2">brands</span></a>
        </li>
           
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center "[routerLink]="['/dashboard/users']" routerLinkActive="active-super-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-regular fa-user"></i><span class="ps-2">Users</span></a>
        </li>
        <li class="nav-item">
           
                <a class="nav-link" [routerLink]="['/dashboard/orders']" routerLinkActive="active-super-link">
                    <i class="fa-regular fa-cart-shopping"></i><span class="ps-2">orders</span>
                </a> 

        </li>
        <li class="nav-item d-flex align-items-center">
        </li>
       
        
    </ul>
</aside>