<div class="general-info">
    <div class="personal-info bg-white rounded my-2" >
        <div class="custom-accordion p-4 collapsed d-flex justify-content-between align-items-center border-bottom"  data-bs-target="#general-info" data-bs-toggle="collapse">
            <div class="heading d-flex align-items-center">
                <div class="icon">
                    <i class="fa-light fa-calendar-lines-pen"></i>
                </div>
                <div class="">
                    <h4 class="fw-bold m-0">General Infomation</h4>
                    <span>Fil all information below</span>
                </div>
                
            </div>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        
        <div id="general-info" class="collapse p-4 " >
                <form [formGroup]="addProfileForm">
                    <div class="d-flex">
                        <div class="form-group  m-2 w-50">
                            <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >firstname</label>
                            <input [class.is-invalid]="userName?.invalid && userName?.touched" formControlName="userName" type="text" class="form-control">
                            <div *ngIf="userName?.invalid && userName?.touched">
                                <small *ngIf="userName?.errors?.['required']"  class="text-danger">Name is Required</small>
                                <small *ngIf="userName?.errors?.['pattern']"  class="text-danger">Name should be letters only and length must be form 3-32 characters </small>
                              </div>
                        </div>  
                        <div class="form-group  m-2 w-50">
                            <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >lastname</label>
                            <input [class.is-invalid]="lastName?.invalid && lastName?.touched" formControlName="lastName" type="text" class="form-control">
                            <div *ngIf="lastName?.invalid && lastName?.touched">
                                <small *ngIf="lastName?.errors?.['required']"  class="text-danger">Name is Required</small>
                                <small *ngIf="lastName?.errors?.['pattern']"  class="text-danger">Name should be letters only and length must be form 3-32 characters </small>
                              </div>
                        </div>
                    </div>
                    <div class="form-group  m-2 ">
                        <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >Email</label>
                        <input [class.is-invalid]="userEmail?.invalid && userEmail?.touched" formControlName="userEmail" type="text" class="form-control">
                        <div *ngIf="userEmail?.invalid && userEmail?.touched">
                            <small class="text-danger" *ngIf="userEmail?.errors?.['required']"> Email is Required</small>
                            <small class="text-danger" *ngIf="userEmail?.errors?.['pattern']"  > Email should be in form xxx@gmail.com </small>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group  m-2 w-50">
                            <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >phone</label>
                            <input [class.is-invalid]="phone?.invalid && phone?.touched" formControlName="phone" type="text" class="form-control">
                               <div *ngIf="phone?.invalid && phone?.touched">
                                        <small class="text-danger" *ngIf="phone?.errors?.['required']"> Phone is Required </small>
                                        <small class="text-danger" *ngIf="phone?.errors?.['pattern']"> Phone should be 11 digits and numbers only </small>

                                </div>
                        </div>  
                        <div class="form-group  m-2 w-50">
                            <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold" >Date OF Birth</label>
                            <input [class.is-invalid]="DateOfBirth?.invalid && DateOfBirth?.touched" formControlName="DateOfBirth" type="date" class="form-control">
                            <div *ngIf="DateOfBirth?.invalid && DateOfBirth?.touched">
                                <small class="text-danger" *ngIf="DateOfBirth?.errors?.['required']">Date OF Birth is required</small>
                        </div>
                        </div> 
                    </div> 
                    <div class="form-group  m-2 w-50">
                        <button [disabled]="addProfileForm.invalid" (click)="saveProfile(customerID)" id="saveProfile" class="btn btn-primary">Save </button>

                    </div>   
                </form>
        </div>
    </div> 
    <div class="customer-addresses bg-white rounded my-2" >
        <div class="custom-accordion p-4 collapsed d-flex justify-content-between align-items-center border-bottom"  data-bs-target="#customer-addresses" data-bs-toggle="collapse">
            <div class="heading d-flex align-items-center">
                <div class="icon">
                    <i class="fa-regular fa-location-dot"></i>
                </div>
                <div class="">
                    <h4 class="fw-bold m-0">Address</h4>
                    <span>Fil all information below</span>
                </div>
                
            </div>
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div id="customer-addresses" class="collapse p-4 " >
                <div class="addaddress-btn text-end">

                    <!-- ADD ADDRESS  -->
                    <button (click)="openFormToAddaddress()" class="btn btn-success">
                        <i class="fa-solid fa-plus pe-2"></i>
                        add Address
                    </button>
                    
                </div>
                <div class="addresses py-4">
                      <div  class="row">

                            <!-- ng for to display addresses -->
                        <div class="col-md-6" *ngFor="let address of currentUser?.addresses">
                                <div class="address-box  rounded p-3 mb-3 position-relative">
                                    <h4 class="fw-bold"> {{address.country}}</h4>
                                    <p>{{address.city}}</p>
                                    <p>{{address.address}}</p>
                                        <div class="editaddress position-absolute ">
                                            <i class="fa-solid fa-pen pe-2"></i>
                                            <i class="fa-solid fa-trash-can text-danger"></i>
                                        </div>
                                </div> 
                        </div>
                        <!-- ng for to display addresses -->
                        
                    </div>
                </div>
                
                <div *ngIf="!closeForm" class="address-form border-top py-3">
                    <form [formGroup]="addAddressForm">
                        <h3 class="fw-bold">Add Address</h3>
                        <div class="d-flex">
                            <div class="form-group  m-2 w-50">
                                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >Country</label>
                                  <input type= "text"[class.is-invalid]="country?.invalid && country?.touched"  formControlName="country" class="form-control fs-5" id="country">
                                    <div *ngIf="country?.invalid && country?.touched">
                                        <small class="text-danger" *ngIf="country?.errors?.['required']"> country is Required </small>
                                     </div>
                                 
                            </div>  
                            <div class="form-group  m-2 w-50">
                                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >city</label>
                                <input [class.is-invalid]="city?.invalid && city?.touched"  formControlName="city" type="text" class="form-control">
                                <div *ngIf="city?.invalid && city?.touched">
                                    <small class="text-danger" *ngIf="city?.errors?.['required']"> city is Required </small>
                                    <small class="text-danger" *ngIf="city?.errors?.['pattern']"  > city should be characters only (abc) and length should be 3-100 letters  </small>

                                 </div>
                                
                            </div>
                        </div>
                        <div class="form-group  m-2 ">
                            <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold"  >Address</label>
                            <textarea [class.is-invalid]="addressForm?.invalid && addressForm?.touched"  formControlName="address" type="text" class="form-control" rows="4"></textarea>
                            <div *ngIf="addressForm?.invalid && addressForm?.touched">
                                <small class="text-danger" *ngIf="addressForm?.errors?.['required']"> address is Required </small>
                                <!-- <small class="text-danger" *ngIf="addressForm?.errors?.['pattern']"  > address should be characters only (abc) and length should be 10-100 letters  </small> -->

                        </div>
                        </div>
                        
                        <div class="form-group  m-2 w-50">
                            <!-- <button (click)="saveAddressChanges(customerID)" id="updateAdd" class="btn btn-primary">Save Changes</button> -->
                            <button [disabled]="addAddressForm.invalid" (click)="addAddress()" id="addAddress" class="btn btn-primary">Add Address</button>

                            
                        </div>  
                    </form>
                </div>
        </div>
    </div> 
</div>  
    
