$background_color:#f5f5f5;
$brand_color:#1363DF;

.profile{
    background-color: $background_color;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    .customer-box{
        .header{
            background-color: #5872ff;

        }
        .customer-image{
            margin-top: -40px;
            img{
                width: 120px;
                height: 120px;
                border: 10px solid #fff;
                border-radius: 50%;
                background: #FFF
            }
        }

    }
    .aside{
        .links-navbar{
            list-style: none;
            padding: 0;
            margin: 0;
            .nav-item{
                padding: 10px;
                .nav-link{
                    padding: 10px;
                    text-decoration: none;
                    transition: all .3s ease-in-out;
                    font-size: 1.2rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;

                }
                .active-router{
                    background-color: rgb(139 153 188 / 10%);
                    border-left: 10px solid #4674e5;
                
                }
            }
        }
    }
}