<main class="profile py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="customer-box rounded p-3 bg-white my-3 ">
                    <div class="header"></div>
                    <div class="customer-image">
                        <img src="../../../../assets/images/person.jpg">
                    </div>
                    <div class="customer-name">
                        <h4 class="fw-bold">{{currentUser?.userName}}</h4>
                        <!-- <span class="fw-bold">Join Us : <span class="fw-normal">1 month ago</span></span> -->
                    </div>
                </div>
                <aside class="aside  rounded bg-white">
                    <ul class="links-navbar">

                        <li class="nav-item"  *ngIf="(router.url=='/profile')">
                            <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active-router">
                                <i class="fa-light fa-memo-circle-info fa-lg pe-2"></i> General 
                            </a> 
                        </li>
                        <li class="nav-item" *ngIf="(router.url.includes('/profile/'))">
                            <a class="nav-link"  [routerLink]="['/profile']">
                                <i class="fa-light fa-memo-circle-info fa-lg pe-2"></i> General 
                            </a> 
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/profile/tracking_Orders']" routerLinkActive="active-router">
                                <i class="fa-light fa-cart-shopping fa-lg pe-2"></i>
                                Your Orders
                            </a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/profile/settings']" routerLinkActive="active-router">
                                <i class="fa-regular fa-gear fa-lg pe-2"></i>
                                 settings
                            </a>
                         </li>


                    </ul>
                    
                </aside>
            </div>
            <div class="col-lg-9">
                <div class=" rounded p-2">
                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
    
</main>