<div class="comments bg-white px-5 ">

    <!-- ngfor here -->
    <div class="comment border-bottom py-4 "  *ngFor="let comment of commentat">
        <div class="comment-creater d-flex align-items-center">
            <div class="customer-picture pe-3">
                <img src="../../assets/images/person.jpg"class="rounded" style="width: 50px;height:50px" alt="">
            </div>
            <div class="">
                <div class="customer-name pt-2">
                    <h3 class="fw-bold m-0" >{{comment.customerName}}</h3>
                    <!-- <h3 class="fw-bold m-0">omar abd elsalam</h3> -->
                </div>
                <div class="rate-time d-flex align-items-center">
                    <span class="pe-2">
                        <!-- <ngb-rating [max]="5" {{comment.rate}} [readonly]="true"></ngb-rating> -->
                        <ngb-rating [max]="5" [rate]="comment.rate" [readonly]="true"></ngb-rating>
                    </span>
                    <span>
                        <i class="fa-regular fa-clock pe-2"></i>

                        <!-- Calculate Time  -->
                        <span *ngIf="currentDateTime-comment.createdAt<=59999">{{(currentDateTime-comment.createdAt)/(1000) |number:'1.0-1'| slice:0:2 |number:'1.0-0'}} second ago</span>
                        <span *ngIf="(currentDateTime-comment.createdAt>59999 && currentDateTime-comment.createdAt<=3599999)"> {{(currentDateTime-comment.createdAt)/(1000*60) |number:'1.0-1'| slice:0:2 |number:'1.0-0'}} minutes ago</span>
                        <span *ngIf="currentDateTime-comment.createdAt>3599999 && currentDateTime-comment.createdAt<=86399999"> {{(currentDateTime-comment.createdAt)/(1000*60*60) |number:'1.0-1'| slice:0:2 |number:'1.0-0'}} hour ago</span>
                        <span *ngIf="currentDateTime-comment.createdAt>86399999 && currentDateTime-comment.createdAt<=2591999999"> {{(currentDateTime-comment.createdAt)/(1000*60*60*24) |number:'1.0-1' | slice:0:2 |number:'1.0-0'}} day ago</span>
                        <span *ngIf="currentDateTime-comment.createdAt>2591999999 && currentDateTime-comment.createdAt<=31535999999"> {{(currentDateTime-comment.createdAt)/(1000*60*60*24*365) |number:'1.0-1' | slice:0:2 |number:'1.0-0'}} month ago</span>
                        <span *ngIf="currentDateTime-comment.createdAt>31535999999 "> {{(currentDateTime-comment.createdAt)/(1000*60*60*24*365) |number:'1.0-1' | slice:0:100 |number:'1.0-0'}} year ago</span>

                    </span>
                </div>
            </div>
        </div>
        <div class="comment p-1">
            <p >
                {{comment.comment}}
            </p>
            <!-- <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Nulla dolore id nobis ipsam ipsum excepturi tenetur inventore quas molestiae necessitatibus quibusdam obcaecati,
                 officiis laborum dolorem sed, nam aut neque? Iusto?
            </p> -->
        </div>
    </div>

    <div class="p-5" *ngIf="commentat.length==0">
       <span class="fw-bold">No Comments</span> 
    </div>


</div>