

#header{
    background-color: #FFF;
    box-shadow: 0px 0px 20px #EEE;
    font-family: 'Nunito', sans-serif;
    z-index: 2;

    a{
        text-decoration: none;
    }
    .brand-name{
        color:rgb(87, 86, 86);
        font-weight: 600;
        font-size: 1.5rem;
        margin-left: 20px;
    }
}
@media print {
    header{
        display: none !important;
        color: red;
    }
}