*{
    box-sizing: border-box;
}
.active-display-mode{
    color: #FFF;
    background-color: rgb(53, 32, 211);
}
#main{
    .products{
        .products-header{
        .search-box{
            width:300px;
            input{
                border: none;
                outline: none;
            }
        }
     
    
        }
        .products-list{
            .product-box {
                .product-img{
                    img{
                        width: auto;
                        height: 200px;
                    }
                }
            }
        }
    }
}
// breadCrumb
.breadcrumb  {
    background:none !important;
}
.breadcrumb .breadcrumb-item a{
    text-decoration: none;
    background:none;
}
// .roow {
//     display: flex;
//     width: 40%; /*Optional*/
//     table-layout: fixed; /*Optional*/
//     border-spacing: 10px; /*Optional*/
//     text-align: center;
// }
