<main>
    <!-- Start breadcrumb -->
    <section class="breadcrumb">
        <div class="container">
            <div class="d-flex align-items-center justify-content-start  rounded bg-white p-3 my-3">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
                      <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/product']" routerLinkActive="router-link-active">product</a></li>
                      <li class="breadcrumb-item"><a style="text-decoration: none;" [routerLink]="['/cart']" routerLinkActive="router-link-active">cart</a></li>
                      <li class="breadcrumb-item active"  aria-current="page">Payment</li>
                    </ol>
                  </nav>
            </div>
        </div>
    </section>
    <!-- end breadcrumb -->
    <section class="cart">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-12" >
                            <div class="product d-flex bg-white p-3 mb-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="product-image">
                                            <img class="img-fluid" src="../../assets/images/catrgories/2.jpg ">
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="product-info px-2 pt-2">
                                            <span>brand</span>
                                            <h2 class="d-block my-2 fw-bold ">Product Name</h2>
                                            <div class="product-price-quantity ">
                                                <div class="new-price mb-3 d-flex">
                                                    <span class="price fw-bold d-block w-100 "><span> </span></span>
                                                </div>
                                                <div class="quantity d-flex me-4 mb-2">
                                                    <div class="minus px-3 py-2 "><i class="fa-solid fa-minus"></i></div>
                                                    <div class="num px-3 py-2 bg-light fw-bold">1</div>
                                                    
                                                    <div class="plus px-3 py-2 "><i class="fa-solid fa-plus"></i></div>
        
                                                </div>  
                                            </div>
                                            <p>delivered by : <span class="fw-bold text-dark">13 oct 2022</span> </p>
                                            <button class="btn btn-danger"><i class="fa-thin fa-trash-can fa-lg"></i> remove</button>
    
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        
                                    </div>
                                </div>
                                
                               
                            </div>
                       </div>
                     
                        
                   
                    </div>
                </div>
                
                <div class="col-md-5">
                    <div class="payment bg-white p-4">
                    <h2 class="special-heading fw-bold">Payment</h2>
                    <div class="total-price d-flex justify-content-between py-3">
                        <span  class="fw-bold fs-5">Total</span>
                        <span >EGP 1000.33</span>
                    </div>
                    <div class="shipping d-flex justify-content-between py-3">
                        <span  class="fw-bold fs-5" >Shipping</span>
                        <span >EGP 25</span>
                    </div>
                    <button class="custom-btn w-100 p-3 mt-2" ><i class="fa-solid fa-money-bill-1-wave fa-lg"></i> Check Out</button>

                    </div>
                </div>
                    
            </div>
        </div>
    </section>
</main>