/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
$background_color:#f7f7f7;
$brand_color:#1363DF;
body::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	background-color: transparent;
  }
  body::-webkit-scrollbar-thumb {
	background-color: $brand_color;
  }
#main{
    background-color: $background_color;
    font-family: 'Roboto', sans-serif;
    margin-top: 72px;
    min-height: calc(100vh - 72px);
    transition: all .4s ease-in-out;
}
.sidebar{
    position: fixed;
    top:72px;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px #EEE;
    z-index: 9999;
    transition: all .4s ease-in-out;
    overflow-y: scroll;
}
@media (max-width: 1199px) {
	.sidebar {
	  left: -300px;
	}
  }
  .sidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #fff;
  }
  .sidebar::-webkit-scrollbar-thumb {
	background-color:$brand_color;
  }
  
  @media (min-width: 1200px) {
	#main, #footer {
	  margin-left: 300px;
	}
  }
  @media (max-width: 1199px) {
	.toggle-sidebar .sidebar {
	  left: 0;
	}
  }
  @media (min-width: 1200px) {
	.toggle-sidebar #main, .toggle-sidebar #footer {
	  margin-left: 0;
	}
	.toggle-sidebar .sidebar {
	  left: -300px;
	}
  }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
