$background_color:#f5f5f5;

$brand_color:#1363DF;

.section-background{
    background-color: $background_color;
}

.custom-btn{
    color: #333;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: none;
    padding: 15px 35px;
    background-color: #FFF;
    color: #aaacaf;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: sans-serif;
    border:2px solid transparent;
    &:hover{
        color:#FFF;
        background-color: transparent;
        border-color: #aaacaf;
    }
}


//Special heading 

.special-heading{
    display: inline-block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    /* background: linear-gradient(45deg, #f1f1f180, #d8bfbf3b); */
    padding: 0 0 0 10px !important;
    text-transform: capitalize;
    color: #616161;
    border-left: 15px solid #ae00ff;
    // &:after{
    //     content:"";
    //     width: 75px;
    //     height: 3px;
    //     background-color: $brand_color;
    //     display: block;
    //     margin-top: 10px;
        
   
  

    // }
}
//product box
.product-box{
    background-color: #FFF;
    border-radius: 11px;
    transition: all .4s ease-in-out;
     &:hover{
        box-shadow: 0px 0px 12px #dcdcdc;
        transform: translateY(-10px);
        .product-image{
            img{
                transform: scale(1.3) rotate(10deg);
            }
        }
        .product-operations{
            top:50%;
            display: flex !important;
        }   
        .overlay{
            background-color: #27252561;
        } 
     }
    }
    .product{
        position: relative;
        height: 300px;
        overflow: hidden;
        .product-image{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;

         
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease-in-out;
            }
        }
        
        .overlay{
            position: relative;
            top:0;
            left:0;
            width:100%;
            height:100%;
            transition: all .3s ease-in-out;
            z-index: 2;
            ;
        }
        .product-operations{
            position:absolute;
            top:130%;
            left:50%;
            display: none !important;
            transform: translate(-50%,-50%);
            background-color: #FFF;
            color: $brand_color;
            transition: all .3s ease-in-out;
            z-index: 3;
            cursor: pointer;
             div{
                &:hover{
                    background-color: $brand_color;
                    color:#FFF;
                }
             }
        }

    }
    .product-info{
        .product-name{
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
           h4{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
               
           }
          
       }
   }
    .product-price{
        .new-price{
            font-size: 17px;
            font-weight: bold;
            margin-right: 10px;
        }
        .old-price{
            color: rgb(142, 141, 141);
            font-size: 12px;
            font-weight: bold;
            text-decoration: line-through;
        }
    }
    .product-discount-rate{
        .discount{
            background: #df1313;
            padding: 1px 10px;
            border-radius: 10px 41px 10px 42px;
            color: #FFF;
        }
        .rate{
            color:#ffd428;
            font-size: 20px;
            span{
                   color:rgb(163, 161, 161 ) !important;
                }
            }
        
    }


// Start Top Nav
.top-nav{
    background-color: #3D464D ;
    color:#FFF;
    .brand-name{
        a{
            color:#FFF;
            text-decoration: none;
            font-size: 27px;
            font-weight: bold;
            padding-left:10px;
        }
    }
    .icons{
        ul {
            li{
                a{
                    &:hover{
                        color: $brand_color;
                    }
                }
            }
            li.dropdown{
                .nav-link{
                    &::after{
                        content: unset;   
                    }
                }
            
              
        }
        .product-count{
            right:5px;
            top:-10px;
            width:20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            background-color: red;
            border-radius: 50%;
        }
    }
}

 }

 .bottom-nav{
    background-color: #FFF;
    box-shadow:0 10px 15px rgb(25 25 25 / 10%);
    z-index: 2;
    li{
        a{
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color:#333;
            cursor: pointer;
            transition: all .3s ease-in-out;
            &:hover{
                color: #2192FF;
             }
            }
    }
}
.special-image{
    position: relative;
   &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: red;
    // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    ;
}
}
.slider{
    width:100%;
     .carousel-indicators{
        z-index: 3;
    }
   .carousel-control-prev
   {
    z-index: 3;

   }
   .carousel-control-next{
    z-index: 3;

   }
    .carousel-inner{
        height:500px;
        position: relative;
        .overlay{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            // background-image: url('../../assets/images/main_page_slider/slider.jpg');
            background-size: cover;
            // clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
            -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 91%, 51% 100%, 0 91%, 0 0);
             clip-path: polygon(50% 0%, 100% 0, 100% 91%, 51% 100%, 0 91%, 0 0);
            z-index: 2;
            &::before{
                content: "";
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background:linear-gradient(45deg, #231e48, transparent);
                z-index: 3;

            }
        }
        .carousel-item{
            z-index: 4  ;
            background:transparent;
            width: 100%;
            height: 100%;
            padding: 40px 0 0 50px;
             font-family: 'Bebas Neue', cursive;
            h2{
                font-size:90px;
                color:#FFF;
                letter-spacing: 15px;

            }   
            p{
                font-size:60px;
                letter-spacing: 2px;
                color: #FFF;
                // -webkit-text-stroke: 3px;
                // -webkit-text-stroke-color: #cfc9e5;
                span{
                    
                    color: #FFF;
                    font-weight: 700;
                    padding: 0 5px;
                    border-radius: 18px 0 18px 0;
                    background: #dd1818;
                    // padding: 6px;
                    // background: linear-gradient(45deg, #807ca0, #ffffffa6);
                    // -webkit-text-stroke: #00000052;
                }

            } 
           
            .carousel-caption{
                width: 100%;
                height: 100%;
                text-align: left;
               
                h2{
                    font-size: 4rem;
                    font-weight: bold;
                }  
                .custom-btn{
                    color: #333;
                    font-size: 17px;
                    font-weight: 400;
                    outline: none;
                    border: none;
                    padding: 15px 35px;
                    background-color: $brand_color;
                    color: #FFF;
                    font-weight: bold;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color:$brand_color;
                        background-color: #FFF;
                    }
                }
            }
       }
    }
    
}


    



.categories{
    // background-color: #f5f5f5;

}

.category-box{
    padding: 10px;
    background-color: #FFF;
}
.category{
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover{
        .category-image img {
           transform: scale(1.3) rotate(10deg);
           
       }
        .category-name{
           bottom: 0;
       }
   }
    

    
}
 .category .category-image {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    
}

 .category .category-image img {
    width:100%;
    height: 100%;
    transition: all .3s ease-in-out;
    
}
 .category .overlay{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background-image: linear-gradient(358deg, black,#00000052, transparent);
    z-index: 2;
    
}
 .category .category-name{
    position: absolute;
    bottom:-40px;
    width: 100%;
    text-align: center;
    color:#FFF;
    
    transition: all .3s ease-in-out;
    padding: 20px 0;
    z-index: 3;
    h3{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color:#FFF;
        &:hover{
            color: $brand_color;
            border-bottom: 2px solid $brand_color
        }
    }
    
}

.brand-image{
    width:250px;
    height: 170px;
    img{
        width:100%;
        height: 100%;
    }
}
//high-rate-products
.high-rate-products{
    background-color: $background_color;
}